#for capistrano
/config/
Capfile
#---

.idea

framework
/protected/config/environment/params-local.php
/xls_import
/uploads
/gallery
*~
/index.php
protected/yiic.php
protected/yiic.bat
protected/cron.php
/upload
/req
/vendor

