#block h2{
	margin: 10px 0;
}
#block .images{
	padding: 10px;
	border: 2px dashed #0066A4;
	overflow: hidden;
}
#block .images div{
	width: 100px;
	height: 114px;
	float: left;
	margin-right: 5px;
	margin-bottom: 5px;
	border: 1px dashed #0066A4;
}
#block .images div span{
	font-size: 11px;
	font-weight: bold;
	text-align: center;
}
#block .images div.add{
	height: 85px;
	padding-top: 15px;
	border: 1px dashed #0066A4;
	text-align: center;
}
#block .images div.add a{
	text-decoration: none;
	font-size: 5em;
}

/*-----builder-----*/
#builder{
	display: none;
	width: 1020px;
	min-height: 748px;
	position: relative;
}

.colorpicker{
	z-index: 8050;
}

#color-selector, #bg-canvas {
	position: relative;
	width: 36px;
	height: 36px;
	background: url(../js/colorpicker/images/select.png);
}
#color-selector div, #bg-canvas div {
	position: absolute;
	top: 3px;
	left: 3px;
	width: 30px;
	height: 30px;
	background: url(../js/colorpicker/images/select.png) center;
}
.row
{
	margin-left:0px !important;
}
select
{
	width: 100%;
}
input, textarea, .uneditable-input
{
	width: 100% !important;
}
.hide
{
	display: none !important;
}
#settings {
	width: 340px;
	float: left;
	position: absolute;
	right: 20px;
}
#settings fieldset{
	border: 1px solid #ccc;
	margin-bottom: 10px;
	width: 620px;
	padding: 10px;
}
#settings .block{
	padding-bottom: 5px;
	border-bottom: 1px solid #444;
	margin-bottom: 5px;
}
#settings .block textarea{
	width: 340px;
	height: 160px;
	font-family: Arial;
	border: 1px solid #aaa;
	border-radius: 2px;
	margin-bottom: 10px;
}

#settings .row{
	width: 100%;
	margin-right: 5px;
	margin-bottom: 5px;
	
}
#settings .row input{
	width: 100%;
}
	#settings fieldset #text{
		width: 100%;
		height: 50px;
		border: 1px solid #aaa;
		font-family: Arial;
	}
#canvas-container{
	width: 640px;
	min-height: 740px;
	float: left;
	margin-right: 15px;
	margin-bottom: 15px;
}
.canvas-container canvas{
	border: 1px dashed #ccc;
}
#uploadFile .qq-upload-list{
	display: none;
}
#images img{
	border: 1px solid #ccc;
}
.clear{
	clear: both;
}
a.builder{
	padding: 10px;
	background-color: #ccc;
	border: 1px solid #aaa;
	display: inline-block;
	margin-bottom: 10px;
	color: #000;
}